<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <form action="/register" method="post">
           <label for="name">Name :</label>
           <input type="text" id="name" name="name">
           <label for="Rno">RollNo :</label>
           <input type="text" id="Rno" name="Rno">
           <label for="Tmarks">Total Marks :</label>
           <input type="text" id="Tmarks" name="Tmarks">
           <label for="perc">Percentage :</label>
           <input type="text" id="perc" name="perc">
           <button class="btn btn-lg btn-primary btn-block" type="submit" >Submit</button>
        </form>
       
    </div>
</body>
</html>